<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <title>Document</title>
</head>

<body>

<!--test login form -->
<form th:action="login"  th:method="post">
                <label>{{message}}: </label>
                <input type="text" name="username" id="username" v-model="username">
                <label>password</label>
                <input type="password" name="password" id="pwd" v-model="password">
<p><input class="btn btn-primary btn-lg active" type="submit" value="Submit" /> <input class="btn btn-primary btn-lg active" type="reset" value="Reset" /></p>
</form>


    <div id="app">
<!--        <form th:action="login" th:method="post">-->
<!--            <label for="">{{message}}: </label>-->
<!--            <input type="text" name="username" id="username" v-model="username">-->
<!--            <label for="">password</label>-->
<!--            <input type="password" name="password" id="pwd" v-model="password">-->
<!--        </form>-->
<!--        <button @click="loginAction()">Submit</button>-->
        <button type="submit">Submit</button>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    message: 'username',
                    username: '123',
                    password: '123'
                }
            },
            methods: {
                loginAction() {
                    // const username = this.username
                    // const pwd = this.password
                    // const response = fetch("/login", {
                    //     method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    //     headers: {
                    //         'Content-Type': 'application/json'
                    //         // 'Content-Type': 'application/x-www-form-urlencoded',
                    //     },
                    //     body: JSON.stringify({ "username":username, "password":pwd }) // body data type must match "Content-Type" header
                    // });
                }
            }
        })
    </script>
</body>

</html>