<!DOCTYPE html>
<html lang="en">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <meta charset="UTF-8">
  <title>Payment Success</title>
</head>
<body>
<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <br><br> <h2 style="color:#0fad00">Success</h2>
      <h1>Your payment has been successfully processed!!</h1>
      <p style="font-size:20px;color:#5C5C5C;">Please note down your reference id for future reference</p>
      <p style="font-size:20px;color:#5C5C5C;">[[${paymentID}]]</p>
      <a href="/" class="btn btn-success">Return to Home</a>
      <br><br>
    </div>

  </div>
</div>
</body>
</html>