<html lang="en">

<head>
    <!-- insert head from thymeleaf header fragment -->
    <div th:insert="~{fragments/header :: head}"></div>
    
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light fix-top border-bottom">
            <div class="container-xxl">
                <a href="/" class="navbar-brand">
                    <span class="fw-bold text-success">
                        <i class="bi bi-balloon-heart-fill"></i>
                        {{title}}
                    </span>
                </a>
                <!-- toggle button for mobile nav -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- navbar links -->
                <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/projects" class="nav-link">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="#reviews" class="nav-link">About us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>
                        <!-- <li class="nav-item">
                <a href="#pricing" class="nav-link">Pricing</a>
            </li> -->
                        <li v-if="loginState" class="nav-item ms-2 d-none d-md-inline">
                            <a href="#pricing" class="btn btn-success">DashBoard</a>
                        </li>
                        <li v-else class="nav-item ms-2 d-none d-md-inline">
                            <a href="/login" class="btn btn-warning">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section id="projects">
            <div class="container">
                <div class="row row-cols-3 g-4">
                    <div class="col">
                        <div class="card m-3 h-100">
                            <img src="/Foodforall.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Card Title</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                                    vitae
                                    quis neque iure nemo ea distinctio ratione perferendis enim itaque in exercitationem
                                    rem
                                    illum minus, nesciunt nihil, fugiat quod accusantium!</p>
                            </div>
                            <div class="card-footer bg-white border-0">
                                <a href="/detail" class="btn btn-primary stretched-link">Donate Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card m-3 h-100">
                            <img src="/FoodforAll03.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Card Title</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                                    vitae
                                    quis neque iure nemo ea distinctio ratione perferendis enim itaque in exercitationem
                                    rem
                                    illum minus, nesciunt nihil, fugiat quod accusantium!</p>
                            </div>
                            <div class="card-footer bg-white border-0">
                                <a href="/detail" class="btn btn-primary stretched-link">Donate Now</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- insert footer from thymeleaf fragments -->
        <div th:insert="~{fragments/footer :: footer}"></div>
    </div>
    <script src="/javascript/projects.js"></script>
</body>

</html>