<html lang="en">

<head>
  <!-- insert head from thymeleaf header fragment -->
  <div th:insert="~{fragments/header :: head}"></div>
  <script src="/javascript/project_detail_map.js"></script>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-light fix-top border-bottom">
      <div class="container-xxl">
        <a href="/" class="navbar-brand">
          <span class="fw-bold text-success">
            <i class="bi bi-balloon-heart-fill"></i>
            {{title}}
          </span>
        </a>
        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
          aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
              <a href="#reviews" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
            <!-- <li class="nav-item">
            <a href="#pricing" class="nav-link">Pricing</a>
        </li> -->
            <li v-if="loginState" class="nav-item ms-2 d-none d-md-inline">
              <a href="#pricing" class="btn btn-success">DashBoard</a>
            </li>
            <li v-else class="nav-item ms-2 d-none d-md-inline">
              <a href="/login" class="btn btn-warning">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="text-center">
        <h2 class="my-2 py-5 text-success">Project Title</h2>
      </div>
      <div class="row">
        <div class="col">
          <img src="/Foodforall03.jpeg" class="img-fluid" alt="...">
        </div>
        <div class="col">
          <div class="card">

          </div>
        </div>
      </div>
    </div>

    <div class="container bg-light">
      <div class="text-center">
        <p class="my-2 py-5 text-success">Position</p>
      </div>
      <div id="map" style="height: 300px; width: 100%;"></div>
    </div>

    <!-- insert footer from thymeleaf fragments -->
    <div th:insert="~{fragments/footer :: footer}"></div>
  </div>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5QZ8Ze04-faOyB8kHs0rb9bd6Cmn7NCU&callback=initMap&v=weekly"
    async></script>
    <script src="/javascript/project_detail.js"></script>
</body>

</html>